<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/download.png">
    <title>blogger</title>
    <!-- Bootstrap Core CSS -->
   
    <link rel="stylesheet" 
href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity= 
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">    
  
    <link href="assets/css/style.css" rel="stylesheet">

   
    <link href="assets/css/colors/green-dark.css" id="theme" rel="stylesheet">
   
</head>

<body>
    
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
          
<link rel="stylesheet" type="text/css" href="style.css"> 
          
</head> 
<style>


.note
{
    text-align: center;
    height: 80px;
    margin-top:80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 1% 29%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 10%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
</style>

<body> 
      
    <br> 
    <br> 
    <br> 
   
         <div class="container register-form">
            <div class="form">
                <div class="note">
                    <h2>Login Here</h2>
                </div>
                <form class="form-horizontal form-material" id="loginform" action="/register" method="post">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                    <input class="box" type="text"  placeholder="example@gmail.com"  name="email" required>                                    </div>
                          
                                    
                          
                                    <div class="form-group">
                                            <input class="box" type="tel" placeholder="+91 999999999" name="mobile" required> </div>
                        
                            <div class="form-group">
                                    <input class="box" type="password" required="" placeholder="Password" name="password" required>
                                </div>
                                <div class="form-group">
                                        <button class="btn btn-info  btn-block text-uppercase" type="submit">Log In</button></div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <p>New User? <a href="/signup" class="text-info m-l-5"><b>Sign Up</b></a></p>                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>





    </div>
   
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>